<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>800395318825-cbksigeksnc2g2qimua9m82l0u3b66s3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.800395318825-cbksigeksnc2g2qimua9m82l0u3b66s3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>800395318825-4ea2otdtp6llhf6u5cdev9m09it1jjr0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCHOj4f0_vJLV5E8z3cJC80wiY04xtFXa0</string>
	<key>GCM_SENDER_ID</key>
	<string>800395318825</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sakinah</string>
	<key>PROJECT_ID</key>
	<string>sakinah-e45bc</string>
	<key>STORAGE_BUCKET</key>
	<string>sakinah-e45bc.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:800395318825:ios:0ab568052699daf61a2e38</string>
</dict>
</plist>